
.navbar-default {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}



.navbar-default .navbar-brand {
 	font-family: mason-sans, sans-serif;
 }

 h1, h2, h3, h4, h5, h6 {
 	font-family: mason-sans, sans-serif;

 }

.intro {
 	font-family: mason-sans, sans-serif;
 }


#catlinks .alba-jumbotron {
 	font-family: mason-sans, sans-serif;
}

.nav-titlepic {
 	font-family: mason-sans, sans-serif;
}


.forsaken-jumbotron {
    background-repeat: no-repeat; 
    background-size: cover;
	background-position:  center;;
	color: #EEE;
	text-shadow: 2px 2px 5px #000;
}

.nav-contenttable {
	flex-grow:6;

}
.nav-contenttable td, th {
	padding-left: .5em;
}
.nav-contenttable  th {
	vertical-align: top;
}
