
body {
	background-color: auto;
}

.navbar-default {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f167f+0,444199+100 */
background: #3f167f; /* Old browsers */
background: -moz-linear-gradient(top,  #3f167f 0%, #444199 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3f167f 0%,#444199 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3f167f 0%,#444199 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f167f', endColorstr='#444199',GradientType=0 ); /* IE6-9 */
}


.navbar-default .navbar-nav>li>a {
	color: white;
	text-shadow: none;
}

.sidebar-container.not-editable .btn-group {
	display: none;
}

.navbar-default .navbar-brand {
 	color: white;
 	font-family: korolev, sans-serif;
	font-weight: 400;
	font-style: normal;
 }

 h1, h2, h3, h4, h5, h6 {
 	font-family: korolev, sans-serif;
	font-weight: 400;
	font-style: normal;

 }

.intro {
 	font-family: korolev, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: x-large;
	text-align: center;
 }

 .intro p {
 	padding-bottom: 1em;
 }

 #catlinks {display:block;}

 #catlinks:empty {
  display:none;
}


#catlinks .alba-jumbotron {
 	font-family: korolev, sans-serif;
	font-weight: 400;
	font-style: normal;

}

.nav-box {
	border: 1px solid grey;
	box-shadow: 2px 2px 5px #DDD;
	border-radius: 20px 5px 20px 5px;
	margin-top: 2em;
}

.nav-titlepic {
    background-repeat: no-repeat; 
    background-size: cover;
	background-position:  center;;
	color: #EEE;
	text-shadow: 2px 2px 5px #000;

 	font-family: korolev, sans-serif;
	font-weight: 400;
	font-style: normal;

	font-size: xx-large;

	flex-grow: 2; 

	padding: .25em;

	border-radius: 20px 5px 0 0;
	border-bottom: 1px solid black;


}



.sisyphus-jumbotron {
    background-repeat: no-repeat; 
    background-size: cover;
	background-position:  center;;
	color: #EEE;
	text-shadow: 2px 2px 5px #000;
}

.nav-contenttable {
	flex-grow:6;

}
.nav-contenttable td, th {
	padding-left: .5em;
}
.nav-contenttable  th {
	vertical-align: top;
}

.storm-background {
	background-image: url('//art.istic.net/carcosa/sisyphus-assets/frantzou-fleurine-16979-unsplash.jpg@2000');
}


.storm2-background {
	background-image: url('//art.istic.net/carcosa/sisyphus-assets/derek-oyen-1431633-unsplash.jpg@2000');
}


.storm3-background {
	background-image: url('//art.istic.net/carcosa/sisyphus-assets/robson-hatsukami-morgan-134756-unsplash.jpg@2000');
}


img {
	max-width: 100%;
	width: auto !important; 
}
